@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: linear-gradient(to right, rgba(42, 42, 42, 0.9) 0 100%),
    url("../public/images/food-bg.jpg");
    box-sizing: border-box;
}

main {
  @apply justify-start m-0 min-h-screen flex flex-col
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
